
  
  .category-select {
    margin-bottom: 15px;
  }
  
  .category-select button {
    margin: 5px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .list-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 800px;
  }
  
  .list-group {
    width: 50%;
    max-width: 400px;
    margin: 0;
    padding-right: 15px;
  }
  
  .controls {
    width: 50%;
    max-width: 400px;
  }
  
  .input-group input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
  }
  
  button {
    margin: 5px 0;
  }
  