.calendar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.calendar-left, .calendar-right {
  flex: 1;
  max-width: 45%;
  text-align: center; /* Para centrar el contenido de cada lado */
}

.calendar-left {
  display: flex;
  flex-direction: column; /* Aseguramos que el calendario y el botón estén apilados */
  align-items: center;
}

.button-container {
  margin-top: 20px; /* Ajusta el margen superior del contenedor del botón */
}

button {
  width: 100%; /* Hace que el botón ocupe todo el espacio disponible */
  max-width: 200px; /* Opción para limitar el ancho del botón */
}

